@use './scss/' as *;

.App {
    overflow: hidden;
    color: $black-color;
    background: #f3f3f3;
    padding: 1rem 1rem;

    .blur {
        position: absolute;
        width: 22rem;
        height: 14rem;
        border-radius: 50%;
        background: #a6ddf0;
        filter: blur(72px);
    }
}

.button {
    @include flex(center, center);
    color: white;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background: $button-bg;
    transition: all 100ms ease;
}

.button:hover {
    cursor: pointer;
    color: $orange-color;
    background: transparent;
    border: 2px solid $orange-color;
}

::-webkit-scrollbar {
    display: none;
}

/* Form styling */
.info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div {
        display: flex;
        gap: 1rem;
        height: 2rem;
        width: 90%;
    }

    .info-input {
        outline: none;
        background-color: var(--inputColor);
        border-radius: 8px;
        padding: 20px;
        flex: 1;
    }

    .info-button {
        width: 6rem;
        height: 2rem;
        align-self: flex-end;
    }
}
