@use '../../../scss/' as *;

.PostShare {
    display: flex;
    gap: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;

    > img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }

    > div {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1rem;

        > input {
            background-color: $input-color;
            border-radius: 10px;
            padding: 10px;
            font-size: 17px;
            border: none;
            outline: none;
        }

        .post-options {
            @include flex(stretch, space-around);

            .option {
                @include flex(center, center);
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 10px;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                }
            }
            .option.photo {
                color: $photo-color;
            }
            .option.video {
                color: $video-color;
            }
            .option.location {
                color: $location-color;
            }
            .option.schedule {
                color: $schedule-color;
            }

            .ps-button {
                padding: 5px;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 12px;
            }

            .file-input-wrapper {
                display: none;
            }
        }

        .preview-image {
            position: relative;

            > svg {
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                cursor: pointer;
                background: $button-bg;
                color: white;
                border: 1px solid;
            }

            > img {
                width: 100%;
                max-height: 20rem;
                object-fit: cover;
                border-radius: 0.5rem;
            }
        }
    }
}
